USE [DMTT_DEMO_PRESS]
GO
/****** Object:  Table [dbo].[T_PR_SORD]    Script Date: 20/12/2568 13:26:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SORD]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SORD]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST]    Script Date: 20/12/2568 13:26:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SHIP_INST]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SHIP_INST]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST]    Script Date: 20/12/2568 13:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SHIP_INST](
	[I_SHIP_INST] [nvarchar](20) NOT NULL,
	[INTERNAL_NO] [nvarchar](20) NOT NULL,
	[DETAIL_TYPE] [nvarchar](1) NOT NULL,
	[I_SHIP_LNNO] [numeric](3, 0) NULL,
	[I_SONO] [nvarchar](20) NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_SHIP_INST_DATE] [datetime] NULL,
	[I_SHIP_ORDER_DATE] [datetime] NULL,
	[I_SHIP_DLY_DATE] [datetime] NULL,
	[I_SHIPTO] [nvarchar](10) NULL,
	[I_ITEMCODE] [nvarchar](25) NULL,
	[I_LOTNO_FR] [nvarchar](25) NULL,
	[I_LOTNO_TO] [nvarchar](25) NULL,
	[I_SHIP_QTY] [numeric](10, 0) NULL,
	[I_INVOICE_NO] [nvarchar](20) NULL,
	[I_INVOICE_DATE] [datetime] NULL,
	[I_SHIP_CFM] [nvarchar](1) NULL,
	[I_SHP_PCK] [numeric](10, 0) NULL,
	[I_SHP_PKG_STATUS] [nvarchar](1) NULL,
	[I_SHIPMENT_STATUS] [nvarchar](10) NULL,
	[I_ASSIGNTO] [nvarchar](20) NULL,
	[I_PICKING_STATUS] [nvarchar](20) NULL,
	[I_ENDUSER] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SHIP_INST] PRIMARY KEY CLUSTERED 
(
	[I_SHIP_INST] ASC,
	[INTERNAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_SORD]    Script Date: 20/12/2568 13:26:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SORD](
	[I_SONO] [nvarchar](20) NOT NULL,
	[INTERNAL_NO] [nvarchar](20) NOT NULL,
	[DETAIL_TYPE] [nvarchar](1) NOT NULL,
	[I_QT_NO] [nvarchar](20) NULL,
	[I_LNNO] [numeric](3, 0) NULL,
	[I_SODATE] [datetime] NULL,
	[I_SOTYP] [nvarchar](2) NULL,
	[I_TAX_DUTY] [nvarchar](1) NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_SHIPTO] [nvarchar](250) NULL,
	[I_BILLTO] [nvarchar](250) NULL,
	[I_ENDUSER] [nvarchar](10) NULL,
	[I_DLY_PLACE] [nvarchar](15) NULL,
	[I_CUSTOMER_PO] [nvarchar](25) NULL,
	[I_DLYDATE] [datetime] NULL,
	[I_DLYTIME] [datetime] NULL,
	[I_SHIPPLAN_DATE] [datetime] NULL,
	[I_SHIP_OUT] [datetime] NULL,
	[I_PLANT] [nvarchar](5) NULL,
	[I_GATE] [nvarchar](5) NULL,
	[I_SALEMAN] [nvarchar](10) NULL,
	[I_FRCSFLG] [nvarchar](1) NULL,
	[I_CURRENCY] [nvarchar](5) NULL,
	[I_ITEMCODE] [nvarchar](25) NULL,
	[I_CUSTITM] [nvarchar](25) NULL,
	[I_PACKING] [nvarchar](10) NULL,
	[I_FG_DIV] [nvarchar](10) NULL,
	[I_PRL_TYPE] [nvarchar](2) NULL,
	[I_WGTQTY] [numeric](14, 6) NULL,
	[I_QTY] [numeric](14, 6) NULL,
	[I_UNTPRI] [numeric](18, 3) NULL,
	[I_AMOUNT] [numeric](18, 3) NULL,
	[I_INVQTY] [numeric](14, 6) NULL,
	[I_TAG] [nvarchar](20) NULL,
	[I_REM1] [nvarchar](50) NULL,
	[I_REM2] [nvarchar](50) NULL,
	[I_COMPCLS] [nvarchar](2) NULL,
	[I_REASON] [nvarchar](50) NULL,
	[I_CONFIRM_STATUS] [nvarchar](1) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SORD] PRIMARY KEY CLUSTERED 
(
	[I_SONO] ASC,
	[INTERNAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
