USE [DMTT_DEMO_PRESS]
GO
/****** Object:  Table [dbo].[T_PR_WOH]    Script Date: 12/25/2025 9:19:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_WOH](
	[I_WO] [nvarchar](20) NOT NULL,
	[I_SONO] [nvarchar](20) NULL,
	[I_WODATE] [datetime] NOT NULL,
	[I_CUSTOMER] [nvarchar](10) NULL,
	[I_WO_TYPE] [nvarchar](2) NULL,
	[I_PLAN_START] [datetime] NOT NULL,
	[I_PLAN_FINISHED] [datetime] NULL,
	[I_PR_MACHINE] [nvarchar](10) NULL,
	[I_ITEMCODE] [nvarchar](25) NOT NULL,
	[I_WO_QTY] [numeric](6, 0) NOT NULL,
	[I_WR_QTY] [numeric](6, 0) NULL,
	[I_REQ_COIL] [numeric](6, 0) NOT NULL,
	[I_PRIORITY] [nvarchar](1) NULL,
	[I_REMARK] [nvarchar](40) NULL,
	[I_PRT_FLG] [nvarchar](1) NULL,
	[I_SHT_FLG] [nvarchar](1) NULL,
	[I_REFER_WO] [nvarchar](20) NULL,
	[I_COMPLETE_FLG] [nvarchar](1) NULL,
	[I_REM1] [nvarchar](50) NULL,
	[I_REM2] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
	[I_DLY_DATE] [datetime] NULL,
	[I_PRT_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_PR_WOH] PRIMARY KEY CLUSTERED 
(
	[I_WO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
