USE [DMTT_DEMO_PRESS]
GO
/****** Object:  Table [dbo].[T_PR_STOCK]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_STOCK]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_STOCK]
GO
/****** Object:  Table [dbo].[T_PR_SORD_H]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SORD_H]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SORD_H]
GO
/****** Object:  Table [dbo].[T_PR_SORD_D]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SORD_D]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SORD_D]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST_H]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SHIP_INST_H]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SHIP_INST_H]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST_D]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SHIP_INST_D]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SHIP_INST_D]
GO
/****** Object:  Table [dbo].[T_PR_QT_H]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_QT_H]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_QT_H]
GO
/****** Object:  Table [dbo].[T_PR_QT_D]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_QT_D]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_QT_D]
GO
/****** Object:  Table [dbo].[T_PR_INVOICE_H]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_INVOICE_H]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_INVOICE_H]
GO
/****** Object:  Table [dbo].[T_PR_INVOICE_D]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_INVOICE_D]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_INVOICE_D]
GO
/****** Object:  Table [dbo].[MS_PRFG]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MS_PRFG]') AND type in (N'U'))
DROP TABLE [dbo].[MS_PRFG]
GO
/****** Object:  Table [dbo].[MS_EXG]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MS_EXG]') AND type in (N'U'))
DROP TABLE [dbo].[MS_EXG]
GO
/****** Object:  Table [dbo].[MS_CS]    Script Date: 25/12/2568 9:22:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MS_CS]') AND type in (N'U'))
DROP TABLE [dbo].[MS_CS]
GO
/****** Object:  Table [dbo].[MS_CS]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_CS](
	[I_CSCODE] [nvarchar](10) NOT NULL,
	[I_TYPE] [nvarchar](2) NULL,
	[I_GROUP] [nvarchar](1) NULL,
	[I_CATEGORY] [nvarchar](10) NULL,
	[I_NAME] [nvarchar](100) NULL,
	[I_ADDR1] [nvarchar](250) NULL,
	[I_ADDR2] [nvarchar](250) NULL,
	[I_POST] [nvarchar](50) NULL,
	[I_BRANCH] [nvarchar](10) NULL,
	[I_TAXID] [nvarchar](15) NULL,
	[I_TAX_DUTY] [nvarchar](10) NULL,
	[I_TAX_TERM] [nvarchar](30) NULL,
	[I_SHORTNAME] [nvarchar](20) NULL,
	[I_CURRENCY] [nvarchar](5) NULL,
	[I_TEL] [nvarchar](30) NULL,
	[I_FAX] [nvarchar](30) NULL,
	[I_PIC] [nvarchar](10) NULL,
	[I_SHIP_TO] [nvarchar](10) NULL,
	[I_CONTACT_NAME] [nvarchar](50) NULL,
	[I_CONTACT_MAIL] [nvarchar](50) NULL,
	[I_CONTACT_TEL] [nvarchar](30) NULL,
	[I_PAY_TERM] [nvarchar](30) NULL,
	[I_BILL_TO] [nvarchar](80) NULL,
	[I_QP_SITE] [nvarchar](10) NULL,
	[I_CAL_STRMTH] [nvarchar](10) NULL,
	[I_REMARK] [nvarchar](30) NULL,
	[I_ACTIVE] [nvarchar](2) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
	[I_INCOTREM] [nvarchar](10) NULL,
	[I_VENDOR_CD] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[I_CSCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MS_EXG]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_EXG](
	[I_CURCOD] [nvarchar](5) NOT NULL,
	[I_VALIDFR] [date] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
	[I_RATE_TTS] [numeric](14, 8) NULL,
	[I_RATE_TTN] [numeric](14, 8) NULL,
	[I_RATE_TTM] [numeric](14, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[I_CURCOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MS_PRFG]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_PRFG](
	[I_ITEMCODE] [nvarchar](25) NOT NULL,
	[I_DESC] [nvarchar](50) NULL,
	[I_TYPE] [nvarchar](10) NULL,
	[I_ENDUSER] [nvarchar](10) NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_TRADE_TYPE] [nvarchar](10) NULL,
	[I_LBL_NEW] [nvarchar](10) NULL,
	[I_LBL_NEW_FR] [date] NULL,
	[I_LBL_NEW_TO] [date] NULL,
	[I_LBL_REVISE] [nvarchar](10) NULL,
	[I_LBL_REVISE_FR] [date] NULL,
	[I_LBL_REVISE_TO] [date] NULL,
	[I_LBL_REV] [nvarchar](10) NULL,
	[I_QP_SITE] [nvarchar](10) NULL,
	[I_QP_MTH] [nvarchar](10) NULL,
	[I_MACHINE] [nvarchar](10) NULL,
	[I_COMMODITY] [nvarchar](20) NULL,
	[I_TEMPER] [nvarchar](10) NULL,
	[I_SPM] [numeric](6, 2) NULL,
	[I_PLATING] [nvarchar](25) NULL,
	[I_THICK] [nvarchar](25) NULL,
	[I_WIDTH] [numeric](6, 3) NULL,
	[I_PITCH] [numeric](6, 3) NULL,
	[I_PSHOT] [numeric](6, 3) NULL,
	[I_PCOIL] [numeric](6, 3) NULL,
	[I_TRIAL_FLG] [nvarchar](10) NULL,
	[I_PKGCD] [nvarchar](20) NULL,
	[I_PCS_BOX] [numeric](6, 0) NULL,
	[I_BOX_PALLET] [numeric](6, 0) NULL,
	[I_RM_WGT] [numeric](6, 6) NULL,
	[I_PROD_WGT] [numeric](6, 6) NULL,
	[I_LOSS_WGT] [numeric](6, 6) NULL,
	[I_ACCOUNT] [nvarchar](15) NULL,
	[I_ACTIVE_FLG] [nvarchar](1) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
	[I_CUST_PART] [nvarchar](25) NULL,
	[I_PART_ALIAS] [nvarchar](25) NULL,
	[I_ITEM_GROUP] [nvarchar](10) NULL,
	[I_TEST_PART] [nvarchar](20) NULL,
	[I_SALE_UNIT] [nvarchar](10) NULL,
	[I_FEE_PROCESS] [numeric](10, 3) NULL,
	[I_FEE_CUSTOM] [numeric](10, 3) NULL,
	[I_FEE_PACK] [numeric](10, 3) NULL,
	[I_FEE_EXPENSE] [numeric](10, 3) NULL,
	[I_FEE_DLY] [numeric](10, 3) NULL,
	[I_YIELD] [numeric](6, 3) NULL,
	[I_PROD_RATE] [numeric](6, 3) NULL,
	[I_SAFTY_STK] [numeric](10, 3) NULL,
	[I_FORECAST_STK] [numeric](10, 3) NULL,
	[I_QCPATTERN] [nvarchar](15) NULL,
	[I_DLY_PLACE] [nvarchar](15) NULL,
	[I_QTPATTERN] [nvarchar](10) NULL,
 CONSTRAINT [PK__MS_PRFG__8606FAA0D4E3F345] PRIMARY KEY CLUSTERED 
(
	[I_ITEMCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_INVOICE_D]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_INVOICE_D](
	[I_INVOICE_NO] [nvarchar](20) NOT NULL,
	[INTERNAL_NO] [nvarchar](20) NOT NULL,
	[I_INVOICE_LNNO] [numeric](3, 0) NULL,
	[I_SONO] [nvarchar](25) NULL,
	[I_CUSTOMER_PO] [nvarchar](25) NULL,
	[I_ITEMCODE] [nvarchar](25) NULL,
	[I_COMMON_NAME] [nvarchar](60) NULL,
	[I_COMMON_INV] [nvarchar](60) NULL,
	[I_INV_DESC] [nvarchar](60) NULL,
	[I_SIZE] [nvarchar](60) NULL,
	[I_TRADE_FLG] [nvarchar](1) NULL,
	[I_QTY] [numeric](8, 0) NULL,
	[I_NET_WGT] [numeric](14, 3) NULL,
	[I_UNIT_PRICE] [numeric](14, 3) NULL,
	[I_AMOUNT] [numeric](14, 3) NULL,
	[I_PALLET_QTY] [numeric](10, 0) NULL,
	[I_PKGCD] [nvarchar](10) NULL,
	[I_CURRENCY] [nvarchar](5) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_INVOICE_D] PRIMARY KEY CLUSTERED 
(
	[I_INVOICE_NO] ASC,
	[INTERNAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_INVOICE_H]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_INVOICE_H](
	[I_INVOICE_NO] [nvarchar](20) NOT NULL,
	[I_INVOICE_DATE] [datetime] NULL,
	[I_SHIP_ORDER_NO] [nvarchar](20) NULL,
	[I_SHIP_ORDER_DATE] [datetime] NULL,
	[I_DO_NO] [nvarchar](20) NULL,
	[I_DO_DATE] [datetime] NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_BILL_TO] [nvarchar](10) NULL,
	[I_SHIP_TO] [nvarchar](10) NULL,
	[I_INCO_TERM] [nvarchar](15) NULL,
	[I_TERM] [nvarchar](15) NULL,
	[I_ORG_COUNTRY] [nvarchar](15) NULL,
	[I_DEST_COUNTRY] [nvarchar](15) NULL,
	[I_SHUTTER_NO] [nvarchar](15) NULL,
	[I_DLY_DATE] [datetime] NULL,
	[I_ATTN] [nvarchar](50) NULL,
	[I_CORRESP_CODE] [nvarchar](50) NULL,
	[I_CONT_SIZE20] [nvarchar](1) NULL,
	[I_CONT_SIZE40] [nvarchar](1) NULL,
	[I_WL_4] [nvarchar](1) NULL,
	[I_WL_6] [nvarchar](1) NULL,
	[I_WL_10] [nvarchar](1) NULL,
	[I_TOTAL_KGS] [numeric](14, 3) NULL,
	[I_VAT_AMT] [numeric](14, 3) NULL,
	[I_TOTAL_AMT] [numeric](14, 3) NULL,
	[I_TRANSPORT] [numeric](14, 3) NULL,
	[I_CIF] [numeric](14, 3) NULL,
	[I_TOTAL_CT] [numeric](14, 3) NULL,
	[I_NET_WGT] [numeric](14, 3) NULL,
	[I_GROSS_WGT] [numeric](14, 3) NULL,
	[I_REMARK] [nvarchar](50) NULL,
	[I_SHIP_CFM] [nvarchar](30) NULL,
	[I_APPR_NAME] [nvarchar](30) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_INVOICE_H] PRIMARY KEY CLUSTERED 
(
	[I_INVOICE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_QT_D]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_QT_D](
	[I_QT_NO] [nvarchar](20) NOT NULL,
	[INTERNAL_NO] [nvarchar](20) NOT NULL,
	[I_QT_LN] [numeric](3, 0) NULL,
	[I_ITEMCODE] [nvarchar](25) NOT NULL,
	[I_COMMODITY] [nvarchar](25) NULL,
	[I_PLATING] [nvarchar](10) NULL,
	[I_TEMPER] [nvarchar](10) NULL,
	[I_THICK] [numeric](14, 6) NULL,
	[I_WIDTH] [numeric](14, 6) NULL,
	[I_LENGTH] [numeric](9, 3) NULL,
	[I_SALE_UNIT] [nvarchar](10) NULL,
	[I_QT_STATUS] [nvarchar](1) NULL,
	[I_RM_WGT] [numeric](14, 6) NULL,
	[I_LOSS_WGT] [numeric](14, 6) NULL,
	[I_PROD_WGT] [numeric](14, 6) NULL,
	[I_PITCH] [numeric](9, 3) NULL,
	[I_RM_AMT] [numeric](14, 6) NULL,
	[I_LOSS_AMT] [numeric](14, 6) NULL,
	[I_FEE_PROCESS] [numeric](10, 3) NULL,
	[I_FEE_CUSTOM] [numeric](10, 3) NULL,
	[I_FEE_PACK] [numeric](10, 3) NULL,
	[I_FEE_EXPENSE] [numeric](10, 3) NULL,
	[I_FEE_DLY] [numeric](10, 3) NULL,
	[I_FEE_MGM] [numeric](10, 3) NULL,
	[I_SELLING_PRICE] [numeric](14, 6) NULL,
	[I_REM1] [nvarchar](50) NULL,
	[I_REM2] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_QT_D] PRIMARY KEY CLUSTERED 
(
	[I_QT_NO] ASC,
	[INTERNAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_QT_H]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_QT_H](
	[I_QT_NO] [nvarchar](20) NOT NULL,
	[I_QT_MTH] [date] NULL,
	[I_METAL_PRICE] [nvarchar](7) NULL,
	[I_CSCODE] [nvarchar](10) NOT NULL,
	[I_PO_MONTH] [date] NULL,
	[I_EXG_MONTH] [date] NULL,
	[I_EXG_RATE] [numeric](14, 8) NULL,
	[I_CURRENCY] [nvarchar](50) NULL,
	[I_REM1] [nvarchar](50) NULL,
	[I_EXG_RATE_TYPE] [nvarchar](1) NULL,
	[I_TYPE] [nvarchar](1) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_QT_H] PRIMARY KEY CLUSTERED 
(
	[I_QT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST_D]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SHIP_INST_D](
	[I_SHIP_INST] [nvarchar](20) NOT NULL,
	[INTERNAL_NO] [nvarchar](20) NOT NULL,
	[I_SHIP_LNNO] [numeric](3, 0) NULL,
	[I_SONO] [nvarchar](20) NULL,
	[I_ITEMCODE] [nvarchar](25) NULL,
	[I_SHIP_QTY] [numeric](10, 0) NULL,
	[I_BALANCE_QTY] [numeric](10, 0) NULL,
	[I_BOX_QTY] [numeric](10, 0) NULL,
	[I_PALLET_QTY] [numeric](10, 0) NULL,
	[I_LOTNO_FR] [nvarchar](25) NULL,
	[I_LOTNO_TO] [nvarchar](25) NULL,
	[I_INVOICE_NO] [nvarchar](20) NULL,
	[I_INVOICE_DATE] [datetime] NULL,
	[I_SHP_PCK] [numeric](10, 0) NULL,
	[I_SHP_PKG_STATUS] [nvarchar](1) NULL,
	[I_SHIPMENT_STATUS] [nvarchar](10) NULL,
	[I_ASSIGNTO] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SHIP_INST_D] PRIMARY KEY CLUSTERED 
(
	[I_SHIP_INST] ASC,
	[INTERNAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST_H]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SHIP_INST_H](
	[I_SHIP_INST] [nvarchar](20) NOT NULL,
	[I_SHIP_INST_DATE] [datetime] NULL,
	[I_SHIP_CFM] [nvarchar](1) NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_SHIP_DLY_DATE] [datetime] NULL,
	[I_SHIPTO] [nvarchar](10) NULL,
	[I_ENDUSER] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SHIP_INST_H] PRIMARY KEY CLUSTERED 
(
	[I_SHIP_INST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_SORD_D]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SORD_D](
	[I_SONO] [nvarchar](20) NOT NULL,
	[INTERNAL_NO] [nvarchar](20) NOT NULL,
	[I_LNNO] [numeric](3, 0) NULL,
	[I_ITEMCODE] [nvarchar](25) NULL,
	[I_UNTPRI] [numeric](18, 3) NULL,
	[I_QTY] [numeric](14, 6) NULL,
	[I_AMOUNT] [numeric](18, 3) NULL,
	[I_DLY_PLACE] [nvarchar](15) NULL,
	[I_COMPCLS] [nvarchar](2) NULL,
	[I_DLYDATE] [datetime] NULL,
	[I_CONFIRM_STATUS] [nvarchar](1) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SORD_D] PRIMARY KEY CLUSTERED 
(
	[I_SONO] ASC,
	[INTERNAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_SORD_H]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SORD_H](
	[I_SONO] [nvarchar](20) NOT NULL,
	[I_QT_NO] [nvarchar](20) NULL,
	[I_SODATE] [datetime] NULL,
	[I_CUSTOMER_PO] [nvarchar](25) NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_CURRENCY] [nvarchar](5) NULL,
	[I_SHIPTO] [nvarchar](250) NULL,
	[I_BILLTO] [nvarchar](250) NULL,
	[I_ENDUSER] [nvarchar](10) NULL,
	[I_REM1] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SORD_H] PRIMARY KEY CLUSTERED 
(
	[I_SONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PR_STOCK]    Script Date: 25/12/2568 9:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_STOCK](
	[I_STKMTH] [nvarchar](6) NOT NULL,
	[I_ITEMCODE] [nvarchar](25) NOT NULL,
	[I_LOTNO] [nvarchar](25) NOT NULL,
	[I_LOCCD] [char](10) NOT NULL,
	[I_PLTNO] [nvarchar](20) NULL,
	[I_ASSET] [nvarchar](2) NULL,
	[I_STATUS] [nvarchar](2) NULL,
	[I_OPNQTY] [numeric](12, 3) NULL,
	[I_INQTY] [numeric](12, 3) NULL,
	[I_OUTQTY] [numeric](12, 3) NULL,
	[I_ADJ_IN] [numeric](12, 3) NULL,
	[I_ADJ_OUT] [numeric](12, 3) NULL,
	[I_LASTINDATE] [nvarchar](8) NULL,
	[I_LASTOUTDATE] [nvarchar](8) NULL,
	[I_LASTADJINDATE] [nvarchar](8) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_STOCK] PRIMARY KEY CLUSTERED 
(
	[I_STKMTH] ASC,
	[I_ITEMCODE] ASC,
	[I_LOTNO] ASC,
	[I_LOCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
