USE [DMTT_DEMO_PRESS]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST]    Script Date: 18/12/2568 13:11:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_PR_SHIP_INST]') AND type in (N'U'))
DROP TABLE [dbo].[T_PR_SHIP_INST]
GO
/****** Object:  Table [dbo].[T_PR_SHIP_INST]    Script Date: 18/12/2568 13:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PR_SHIP_INST](
	[I_SHIP_INST] [nvarchar](20) NOT NULL,
	[I_SHIP_LNNO] [nvarchar](20) NOT NULL,
	[I_SONO] [nvarchar](20) NULL,
	[I_CSCODE] [nvarchar](10) NULL,
	[I_SHIP_INST_DATE] [datetime] NULL,
	[I_SHIP_ORDER_DATE] [datetime] NULL,
	[I_SHIP_DLY_DATE] [datetime] NULL,
	[I_SHIPTO] [nvarchar](10) NULL,
	[I_ITEMCODE] [nvarchar](25) NULL,
	[I_LOTNO_FR] [nvarchar](25) NULL,
	[I_LOTNO_TO] [nvarchar](25) NULL,
	[I_SHIP_QTY] [numeric](10, 0) NULL,
	[I_INVOICE_NO] [nvarchar](20) NULL,
	[I_INVOICE_DATE] [datetime] NULL,
	[I_SHIP_CFM] [nvarchar](1) NULL,
	[I_SHP_PCK] [numeric](10, 0) NULL,
	[I_SHP_PKG_STATUS] [nvarchar](1) NULL, -- Picking Status

	[I_SHIPMENT_STATUS] [nvarchar](10) NULL,
	[I_ASSIGNTO] [nvarchar](20) NULL,
	[I_PICKING_STATUS] [nvarchar](20) NULL,
	[I_ENDUSER] [nvarchar](20) NULL,

	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](10) NULL,
	[CREATED_PRG_NM] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](10) NULL,
	[UPDATED_PRG_NM] [nvarchar](50) NULL,
	[MODIFY_COUNT] [numeric](10, 0) NULL,
 CONSTRAINT [PK_T_PR_SHIP_INST] PRIMARY KEY CLUSTERED 
(
	[I_SHIP_INST] ASC,
	[I_SHIP_LNNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
